<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>&lt;@ViewBag.Title&gt;</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width, user-scalable=no" />
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/themes/base/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/angular")
    @Scripts.Render("~/bundles/heribolz")
</head>
<body ng-app="heribolz">
    <header>
        <nav class="topNavBar">
            <div class="wellPadded">
                <div id="homeLink">&lt;@Html.ActionLink("your logo here", "Index", "Home")&gt;</div>
                <div id="loginBox">@Html.Partial("_LoginPartial")</div>
            </div>
        </nav>
    </header>
    <section class="content">
        @RenderBody()
    </section>
    <footer>
        <nav class="bottomNavBar">
            <div class="wellPadded">
                <span>@Html.ActionLink("Home", "Index", "Home")</span>
                <span>@Html.ActionLink("About", "About", "Home")</span>
                <span>@Html.ActionLink("Contact", "Contact", "Home")</span>
            </div>
        </nav>

    </footer>
    @RenderSection("scripts", required: false)
</body>
</html>
