<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>&lt;@ViewBag.Title&gt;</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width, user-scalable=no" />
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/themes/base/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/angular")
    @Scripts.Render("~/bundles/appmain")
</head>
<body ng-app="softbolz">
    <header>
        <nav class="topNavBar">
            <div class="wellPadded">
                <div id="loginBox">@Html.Partial("_LoginPartial")</div>
                <h1 style="margin: 0" id="homeLink"><a href="/" ng-non-bindable>{{Soft bolz}}</a></h1>
                <div id="searchBox" ng-controller="SearchController">
                    <table>
                        <tbody>
                            <tr>
                                <td>Search in path</td>
                                <td>Search in meta key</td>
                                <td>Search in meta value</td>
                                <td rowspan="2">
                                    <button class="glyphicons search" ng-click="performSearch()"></button>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <input ng-model="searchInPath" /></td>
                                <td>
                                    <input ng-model="searchInKey" /></td>
                                <td>
                                    <input ng-model="searchInValue" /></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </nav>
    </header>
    <section class="content">
        @RenderBody()
    </section>
    <footer>
        <nav class="bottomNavBar">
            <div class="wellPadded">
                <span>@Html.ActionLink("Home", "Index", "Home")</span>
                <span>Made with: <a href="http://www.angularjs.org">angular</a></span>
                <span ng-non-bindable> by ©Harry Bolz co., </span>
                <span>@Html.ActionLink("<%Angyal Levente%>", "About", "Home")</span>
                <span>, {{@Html.ActionLink("Szabó Alex", "About", "Home")}}</span>
            </div>
        </nav>

    </footer>
    @RenderSection("scripts", required: false)
</body>
</html>
